<% include head%>
<link rel="stylesheet" href="css/analysis-flex.css">
<div class="main">
    <div class="main-left flex">
        <ul class="content flex"></ul>
    </div>
    <div class="main-middle flex">
        <div class="main-container">
            <div class="main-title"></div>
            <div class="main-content"></div>
        </div>
    </div>
    <!--注释，此处删除了main-right,也就是登陆界面-->
</div>
<script src="js/analysis-flex.js"></script>
<% include foot%>