<link rel="stylesheet" href="css/foot.css">
<div class="foot">
    <div class="foot-main">
        <span class="address">Zhejiang University Zijingang Campus, Zhejiang, China</span>
        <span class="contact"><a href="#">Contact Me</a></span>
    </div>
    <div class="copyright">
        <span class="balabala">&copy; 2019 WENXIN XU ALL rights reserved.</span>
    </div>
</div>
<script src="js/foot.js"></script>
</div>
</body>
</html>