<% include head%>
<link rel="stylesheet" href="css/profile-flex.css">
<div class="main">
    <div class="main-left">
        <!--
        TODO: 左侧结构
        -->
    </div>
    <div class="main-middle">
        <!--
        TODO:中间结构
        -->
    </div>
</div>
<%include foot%>