body{
    background-color: #dfdfdf;
    position: relative;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    color: #000;
    text-decoration: none;
}

.top{
    width: 100%;
    height: 160px;
    border: 1px solid #000;
    position: relative;
    top: 0px;
    font-size: 25px;
    color: #000;
    background-color: #1f5182;
}

.top .web-title{
    width: 500px;
    text-align: center;
    position: absolute;
    top: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}

.top .info{
    width: 100%;
    position: absolute;
    font-size: 20px;
    height: 40px;
    background-color: #a5d9ee;
    color: #1f5182;
    line-height: 40px;
}

.top .audio{
    display: none;
}

.info span{
    float: right;
    margin-right: 30px;
}

.top .search{
    position: absolute;
    right: 50px;
    bottom: 60px;
    outline: none;
    width: 240px;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}

.top #control{
    cursor: pointer;
    float: right;
    font-size: 20px;
    line-height: 40px;
    font-weight: 900;
    margin-right: 30px;
}

.search #search{
    position: absolute;
    width: 250px;
    left: 0;
    bottom: 1px;
}

.search span{
    position: absolute;
    font-size: 40px;
    right: -50px;
    cursor: pointer;
    color: #fff;
}

.top-menu{
    width: 800px;
    position: absolute;
    border-top: 0.5px solid #000;
    top: 160px;
    z-index: 9999;
    height: 50px;
    background-color: #1f5182;
    right: -2px;
}

.clearfix::after{
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.menu{
    float: left;
    line-height: 50px;
    text-align: center;
    width: 160px;
    cursor: pointer;
    font-size: 20px;
}

.menu-index{
    opacity: 0;
}

.menu .container{
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 50px;
    cursor: pointer;
    color: #ffffff;
}

.menu .container a{
    color: #fff;
}

.container:last-child{
    border-right: 1px solid #000;
}

.hidden{
    display: none;
}

.submenu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #dbedfb;
    color: #255488;
    margin-top: 1px;
}

.sub-item{
    width: 198px;
    font-size: 14px;
    margin-top: -1px;
}

.home,
.lecture,
.analysis,
.reflection,
.profile{
    color: #fff;
    width: 1000px;
    width: 100%;
    position: relative;
}

.back-top{
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 9999;
}
.back-top a{
    font-size: 50px;
}


.right-bar{
    width: 300px;
    height: 500px;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    position: absolute;
    right: 30px;
    top: 380px;
    border-radius: 10px;
}
.login{
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    background-color: #1f5182;
    border-radius: 10px;
}
.avatar{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 75px;
    top: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}

.avatar img{
    width: 150px;
    height: 150px;
}

.message{
    height: 30px;
    width: 100px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    top: 230px;
    text-shadow: rgba(0,0,0,0.3) 2px 2px 2px;
}

.form{
    height: 200px;
    position: absolute;
    bottom: 0px;
}

.item-name, .item-content{
    padding-top: 30px;
    float: left;
    color: #fff;
}

.item-name{
    width: 80px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.button input{
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 5px;
    color: #000;
}

.index{
    position: absolute;
    width: 350px;
    left: 200px;
    top: 100px;
}

.index .title{
    width: 200px;
    font-size: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    margin: 0 auto 30px;
}

.content-list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
}

.content-list li{
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    padding-bottom: 20px;
}

.content-list li:hover{
    box-shadow: rgba(0,0,0,0.3) 2px 2px 2px;
}

.index a:hover{
    text-shadow: rgba(0,0,0,0.3) 2px 2px 2px;
}

.content{
    margin-top: 100px;
    width: 1000px;
    position: relative;
    left: 650px;
}

.outer{
    border: 1px  solid #000;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 20px 1px;
}

.content-box{
    width: 700px;
    margin: 50px auto 0;
    text-align: center;
}

.content-box .title{
    cursor: pointer;
    display: block;
    font-size: 40px;
    line-height: 50px;
    height: 50px;
    color: #000;
    margin-bottom: 30px;
}

.content-title .title{
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.content-box .title:hover{
    text-shadow: 5px 5px rgba(0,0,0,0.3);
}

.detail-content{
    margin-top: 10px;
    opacity: 0;
}

.content-title .detail{
    font-size: 20px;
    text-align: left;
    text-indent: 2em;
    color: #000000;
    text-decoration: underline;
}


div.footer{
    width: 100%;
    height: 300px;
    position: relative;
    bottom: -100px;
    background-color: #1f5182;
}

.footer .footer-main,
.copyright{
    color: #fff;
    width: 90%;
    line-height: 30px;
    font-size: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-100%);
}
.footer .footer-main .address:after{
    display: inline-block;
    content: "|";
    margin: 0 20px 0 20px;
}

.footer .copyright{
    transform: translate(-50%, 100%);
}

.footer a{
    color: #fff;
}